* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Roboto", sans-serif;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #333;
    color: white;
}


.logo {
    font-size: 24px;
    font-weight: bold;
}


.nav {
    display: flex;
}


.nav-menu {
    transition: transform o.3s ease;
    list-style: none;
    display: flex;
}


.nav-menu li {
    margin: 0 15px;
}


.nav-menu li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}


.nav-menu .dropdown {
    position: relative;
}


.nav-menu .dropdown-content {
    display: none;
    position: absolute;
    background-color: #444;
    top: 40px;
    list-style: none;
    padding: 10px;
}


.nav-menu .dropdown-content li {
    margin: 0;
}


.nav-menu .dropdown-content li a {
    color: white;
    display: block;
    padding: 8px;
}


.nav-menu .dropdown:hover .dropdown-content {
    display: block;
}


.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}


.burger .line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}




.nav-menu {
    transition: transform 0.3s ease;
}


@media screen and (max-width: 768px) {
    .nav-menu {
        display: block;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #333;
        flex-direction: column;
        transform: translateY(-100%);
    }

    
    .nav-menu.active {
        transform: translateY(0);
    }

    
    .dropdown-content {
        position: static;
    }
    
    .nav-menu li {
        text-align: center;
        margin: 10px 0;
    }
}

